@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: Montserrat;
  background-color: blanchedalmond;
}

h2,
h3 {
  text-align: center;
}

input,
select {
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ans {
  display: none;
  height: 100px;
  background-color: blue;
}

.spinner {
  display: none;
}
