@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: Montserrat;
  background-color: blanchedalmond;
}

h2,
h3 {
  text-align: center;
}

input,
select,
button {
  padding: 1rem;
}
button {
  cursor: pointer;
  border: none;
  background-color: #f44336;
  color: white;
}

.conv {
  text-align: center;
  background-color: cornflowerblue;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ans {
  display: none;
  height: 100px;
  background-color: #f44336;
  color: white;
  padding: 5px;
}

.spinner {
  display: none;
}

.answer {
  text-align: center;
  margin-top: 20px;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
